<h1 align='center'>
Lab 2 - Python Basics II
</h1>

<h3 align='center'>
Daniel Persaud

September 26th, 2022
</h3>

Import libraries necesary for this work

In [1]:
import os
import csv

import pandas as pd

import matminer
from matminer.datasets import load_dataset
from matminer.featurizers.conversions import StrToComposition
from matminer.featurizers.composition import ElementFraction
from matminer.featurizers.composition import BandCenter
from matminer.featurizers.conversions import CompositionToOxidComposition
from matminer.featurizers.composition import OxidationStates
from matminer.featurizers.composition import ElectronegativityDiff

/opt/anaconda3/envs/initStable/lib/python3.9/site-packages/pymatgen/analysis/phase_diagram.py:26: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

### <span style="color: red"> Task 1:</span> Some errors are presented in the code below. Can you identify and corret them?

In [2]:
current_dir = os.getcwd()
filename = current_dir+'/E1_T1.csv'
with open(filename, 'r', newline='') as f:
    csv_file = csv.reader(f)
    data = list(csv_file)
sentence=''
for word in data[0]:
    sentence = sentence + ' ' + word
print(sentence)
print(type(sentence))

 This task is too simple , I want more challenges
<class 'str'>

### <span style="color: red"> Task 2:</span> Who has the most runner-up finishes in the histroy of NHL? Create a table with the teams and their runner-up finishes. The table must contain the the following columns:

-Team

-Total number of runner-up finishes

-Years [list of the years they finished as a runner-up]

You have to use Jupyter for the practice and produce a notebook with good readability.

### <span style="color: blue"> Solution:</span>

In [3]:
dfStanelyCupWinners = pd.read_excel('Stanely_cup_winners_by_year.xlsx')
dfStanelyCupWinners

     Year                    Team             Runner up
0    2020     Tampa Bay Lightning          Dallas Stars
1    2019         St. Louis Blues         Boston Bruins
2    2018     Washington Capitals  Vegas Golden Knights
3    2017     Pittsburgh Penguins   Nashville Predators
4    2016     Pittsburgh Penguins       San Jose Sharks
..    ...                     ...                   ...
103  1915  Vancouver Millionaires       Ottawa Senators
104  1914      Toronto Blueshirts      Victoria Cougars
105  1913         Quebec Bulldogs         Sydney Miners
106  1912         Quebec Bulldogs     Moncton Victories
107  1911         Ottawa Senators  Port Arthur Bearcats

[108 rows x 3 columns]

In [4]:
dfStanelyCupWinners.loc[dfStanelyCupWinners['Runner up'] == 'Chicago Black Hawks', 'Runner up'] = 'Chicago Blackhawks'

In [5]:
dfStanelyCupRunners = pd.DataFrame(columns = ['team','no_of_2nd_finishes','list_of_years_finished_2nd'])
for index, row in dfStanelyCupWinners.iterrows():
    if (row['Runner up'] in (dfStanelyCupRunners['team'].values)):
        dfStanelyCupRunners.loc[dfStanelyCupRunners.index[dfStanelyCupRunners['team'] == row['Runner up']],'no_of_2nd_finishes'] = dfStanelyCupRunners.loc[dfStanelyCupRunners.index[dfStanelyCupRunners['team'] == row['Runner up']],'no_of_2nd_finishes'] + 1
        dfStanelyCupRunners.loc[dfStanelyCupRunners.index[dfStanelyCupRunners['team'] == row['Runner up']],'list_of_years_finished_2nd'] = dfStanelyCupRunners.loc[dfStanelyCupRunners.index[dfStanelyCupRunners['team'] == row['Runner up']],'list_of_years_finished_2nd'] + ', ' + str(row['Year'])
    else:
        temp = pd.DataFrame({'team': row['Runner up'], 'no_of_2nd_finishes': 1, 'list_of_years_finished_2nd': str(row['Year'])},index = [0])
        dfStanelyCupRunners = pd.concat([dfStanelyCupRunners,temp], axis=0, ignore_index=True)
dfStanelyCupRunners = dfStanelyCupRunners.sort_values('team')
dfStanelyCupRunners = dfStanelyCupRunners.reset_index(drop=True)
dfStanelyCupRunners

,team,no_of_2nd_finishes,list_of_years_finished_2nd
0,Boston Bruins,14,"2019, 2013, 1990, 1988, 1978, 1977, 1974, 1958..."
1,Buffalo Sabres,2,"1999, 1975"
2,Calgary Flames,2,"2004, 1986"
3,Calgary Tigers,1,1924
4,Carolina Hurricanes,1,2002
5,Chicago Blackhawks,7,"1992, 1973, 1971, 1965, 1962, 1944, 1931"
6,Dallas Stars,2,"2020, 2000"
7,Detroit Red Wings,13,"2009, 1995, 1966, 1964, 1963, 1961, 1956, 1949..."
8,Edmonton Eskimos,1,1923
9,Edmonton Oilers,2,"2006, 1983"
10,Florida Panthers,1,1996
11,Los Angeles Kings,1,1993
12,Mighty Ducks of Anaheim,1,2003
13,Minnesota North Stars,2,"1991, 1981"
14,Moncton Victories,1,1912
15,Montreal Canadiens,9,"1989, 1967, 1955, 1954, 1952, 1951, 1947, 1925..."
16,Montreal Maroons,1,1928
17,Nashville Predators,1,2017
18,New Jersey Devils,2,"2012, 2001"
19,New York Islanders,1,1984
20,New York Rangers,7,"2014, 1979, 1972, 1950, 1937, 1932, 1929"
21,Ottawa Senators,2,"2007, 1915"
22,Philadelphia Flyers,6,"2010, 1997, 1987, 1985, 1980, 1976"
23,Pittsburgh Penguins,1,2008
24,Port Arthur Bearcats,1,1911
25,Portland Rosebuds,1,1916
26,San Jose Sharks,1,2016
27,Seattle Metropolitans,1,1920
28,St. Louis Blues,3,"1970, 1969, 1968"
29,Sydney Miners,1,1913
30,Tampa Bay Lightning,1,2015
31,Toronto Maple Leafs,8,"1960, 1959, 1940, 1939, 1938, 1936, 1935, 1933"
32,Vancouver Canucks,3,"2011, 1994, 1982"
33,Vancouver Millionaires,3,"1922, 1921, 1918"
34,Vegas Golden Knights,1,2018
35,Victoria Cougars,2,"1926, 1914"
36,Washington Capitals,1,1998

### <span style="color: red"> Task 3:</span> With the help of matminer, 1. Retrive the 'steel_strength' dataset into a dataframe and clean your dataset in needed; 2. Featurize the compositions of the materials; and 3. Perform correlation analysis and drop feature(s) with an efficient greater than abs(0.8) from your dataframe.

### <span style="color: blue"> Solution:</span>

In [6]:
#matminer.datasets.get_available_datasets() #you can check what datasets are available with this line
dfSteelStrength = load_dataset('steel_strength')
dfSteelStrength = StrToComposition().featurize_dataframe(dfSteelStrength, "formula")
dfSteelStrength = ElementFraction().featurize_dataframe(dfSteelStrength, "composition")
dfSteelStrength = BandCenter().featurize_dataframe(dfSteelStrength, col_id="composition")
#dfSteelStrength = CompositionToOxidComaposition().featurize_dataframe(dfSteelStrength, "composition")
#dfSteelStrength = OxidationStates().featurize_dataframe(dfSteelStrength, "composition")
#dfSteelStrength = ElectronegativityDiff().featurize_dataframe(dfSteelStrength, col_id="composition_oxid")  
dfSteelStrength

StrToComposition:   0%|          | 0/312 [00:00<?, ?it/s]

ElementFraction:   0%|          | 0/312 [00:00<?, ?it/s]

BandCenter:   0%|          | 0/312 [00:00<?, ?it/s]

,formula,c,mn,si,cr,ni,mo,v,n,nb,...,Am,Cm,Bk,Cf,Es,Fm,Md,No,Lr,band center
0,Fe0.620C0.000953Mn0.000521Si0.00102Cr0.000110N...,0.02,0.05,0.05,0.01,19.70,2.95,0.01,0.00,0.01,...,0,0,0,0,0,0,0,0,0,4.120851
1,Fe0.623C0.00854Mn0.000104Si0.000203Cr0.147Ni0....,0.18,0.01,0.01,13.44,0.01,3.01,0.46,0.04,0.01,...,0,0,0,0,0,0,0,0,0,4.045671
2,Fe0.625Mn0.000102Si0.000200Cr0.0936Ni0.129Mo0....,0.00,0.01,0.01,8.67,13.45,0.82,0.01,0.00,0.01,...,0,0,0,0,0,0,0,0,0,4.066023
3,Fe0.634C0.000478Mn0.000523Si0.00102Cr0.000111N...,0.01,0.05,0.05,0.01,17.70,3.95,0.01,0.00,0.01,...,0,0,0,0,0,0,0,0,0,4.113411
4,Fe0.636C0.000474Mn0.000518Si0.00101Cr0.000109N...,0.01,0.05,0.05,0.01,19.40,1.45,0.01,0.00,0.01,...,0,0,0,0,0,0,0,0,0,4.119559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,Fe0.823C0.0176Mn0.00183Si0.000198Cr0.0779Ni0.0...,0.38,0.18,0.01,7.27,0.01,3.77,0.96,0.00,0.01,...,0,0,0,0,0,0,0,0,0,4.043178
308,Fe0.823Mn0.000618Si0.00101Cr0.0561Ni0.0984Mo0....,0.00,0.06,0.05,5.15,10.20,3.20,0.01,0.00,0.01,...,0,0,0,0,0,0,0,0,0,4.046132
309,Fe0.825C0.0174Mn0.00175Si0.000201Cr0.0565Ni0.0...,0.37,0.17,0.01,5.20,0.01,5.84,1.05,0.00,0.91,...,0,0,0,0,0,0,0,0,0,4.046924
310,Fe0.858C0.0191Mn0.00194Si0.000199Cr0.0753Ni0.0...,0.41,0.19,0.01,6.99,0.01,5.84,0.92,0.00,0.01,...,0,0,0,0,0,0,0,0,0,4.034904
311,Fe0.860C0.0125Mn0.00274Si0.000198Cr0.00439Ni0....,0.27,0.27,0.01,0.41,8.28,0.49,0.07,0.00,0.01,...,0,0,0,0,0,0,0,0,0,4.089606

### <span style="color: red"> Task 4:</span> Setup a private Github repository for this course. Name it MSE1065_\<YourName>_\<YourStudentID>. You will be using this repo for homework submission and course project version control. A good place to get started is [here](https://docs.github.com/en/get-started/quickstart/hello-world). You can choose to use the GitHub via the terminal (recommanded), the [GitHub desktop app](https://desktop.github.com/), or the online GitHub platform. After setting up your repo, make sure to share your repo with [Jae](https://github.com/jae3goals) and [Xiao](github.com/xshang93) by adding us as collobrators.